<html>  
    <head>
        <title>
            My First Template 
        </title>
    </head>
    <body>
        <h1>Welcome To text Analysis . Enter your Text </h1>
        <form action='/analyze' method = 'get'>
            <textarea name='text'style="margin: 0px; height: 130px; width: 589px;"></textarea><br>
            <input type="checkbox" name="removePunc">Remove Punctuation<br>
            <input type="checkbox" name="uppercase">UPPER CASE<br>
            <input type="checkbox" name="newlineremover">New Line Remover<br>
            <input type="checkbox" name="spaceremover">SpaceRemover<br>
            <input type="checkbox" name="counter">Counter<br>
            <button type='submit'>Analyse Text</button>
        </form>
    </body>
</html>